<main class="main">
    <section class="home section" id="home">
        <div class="home__container container grid">
            <div class="home__data">
                <h2 class="home__subtitle">Organiza tus</h2>
                <h1 class="home__title">Entrenamientos</h1>
                <p class="home__description">
                    Vas a poder crear y ver tus entrenamientos para
                    maximizar tus resultados.
                </p>
                <a href="#" class="button button__flex">
                    Comienza a planificar <i class="ri-arrow-right-line"></i>
                </a>
            </div>

            <div class="home__images">
                <img src="/img/home-img.png" alt="Imagen inicio" class="home__img">

                <div class="home__triangle home__triangle-3"></div>
                <div class="home__triangle home__triangle-2"></div>
                <div class="home__triangle home__triangle-1"></div>
            </div>
        </div>
    </section>
</main>